[Desktop Entry]
Encoding=UTF-8
Name=EScreen
Comment=Enlightened Terminal Emulator for X Window with screen support
Comment[pl]=Emulator terminala dla Systemu X Window dostosowany do Enlightenmenta ze wsparciem dla screena
Exec=Eterm -t Escreen
Icon=gnome-eterm.png
Terminal=false
Type=Application
Categories=TerminalEmulator;
# vi: encoding=utf-8
