[Desktop Entry]
Name=ETerm
Comment=Enlightened Terminal Emulator for X Window
Comment[pl]=Emulator terminala dla Systemu X Window dostosowany do Enlightenment-a
Exec=aterm
Icon=gnome-eterm.png
Terminal=0
Type=Application
# vi: encoding=utf-8
