[Desktop Entry]
Encoding=UTF-8
Name=ETerm
Comment=Enlightened Terminal Emulator for X Window
Comment[pl]=Emulator terminala dla Systemu X Window dostosowany do Enlightenmenta
Exec=Eterm
Icon=gnome-eterm.png
Terminal=false
Type=Application
Categories=TerminalEmulator;
# vi: encoding=utf-8
